.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar {
  // width: 70rem;
  width: 106rem;
  margin: 0 auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 3rem;
  border-radius: 2rem;
}

.calendar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #66729f;
}

.calendar__header button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 1rem;
  background-color: #657896;
  color: #fff;
  transition: background-color 0.4s ease-in-out;
  &:hover {
    background-color: #284c86;
  }
}

.calendar-header h2 {
  margin: 0;
}

.calendar__body {
  display: grid;
  gap: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
}

.calendar__week {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #66729f;
}

.calendar__week-day {
  width: 14rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 2.2rem;
}

.calendar__days {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  overflow: hidden;
  &-events {
    padding-left: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    align-items: start;
    font-size: 1.2rem;
    color: whitesmoke;
    max-height: 7rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &-event {
    list-style-type: decimal;
    b {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}

.calendar__days-day {
  display: flex;
  flex-direction: column;
  width: 14rem;
  height: 12.5rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: #6f84a7;
  color: #fff;
  border: 1px solid rgb(255, 255, 255);
  text-align: start;

  &:hover {
    background-color: #657896;
    color: #f1f1f1;
  }
}
.date {
  width: fit-content;
}
.past-day {
  background-color: #c8c9d1;
  color: #6a6a6a;
  pointer-events: none;
}
